@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, rgb(131, 7, 7), rgb(151, 75, 3));
  color: rgb(234, 232, 255);
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  input,
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  input {
    border-radius: 25px;
  }
  button {
    color: yellow;
    background: none;
    font-size: 2.5rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: green;
    }
  }
}

select {
  -webkit-apperance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  width: 9rem;
  padding: 1rem;
  margin-top: 0.4rem;
  cursor: pointer;
  border-radius: 25px;
  &:focus {
    border: #000000 2px solid;
  }
}

.todos {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    min-width: 30%;
    list-style: none;
  }
  &__div {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    li {
      flex: 1;
    }
  }
  &__button {
    background: #870000;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    &__check {
      background: green;
    }
  }
  &__controls {
    display: flex;
  }
  &__items {
    padding: 0rem 0.5rem;
  }
  &__strike-off {
    text-decoration: line-through;
    opacity: 0.5;
  }
}

.fa-check,
.fa-ban {
  pointer-events: none;
}

.fa-solid:focus {
  color: lightblue;
  border: none;
}

.slide-out {
  transform: translateZ(-1100px) translateX(1000px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    max-width: 75%;
  }
  .todos {
    &__items {
      max-width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
